body {
    margin-top: 40px;
    margin-left: 40px;
  }

input {
    margin: 10px;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    margin: 10px;  
    background-color: white;
}
th, td {
    padding: 15px;
    text-align: left;
  }
tr:nth-child(even){
    padding: 15px;
    text-align: left;
    background-color: lightgrey;
}
table {
    margin-bottom: 60px;
}